{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "no-var": 0,
    "linebreak-style": 0,
    "no-plusplus": 0,
    "prefer-const": 0,
    "no-param-reassign": [2, { "props": false }],
  }
}
