.menu-bar
  .container-fluid
    .row
      .col-xl-6
        .menu-button.name
          %a{href: root_path} Adam Petersen
      .col-xl-6
        .row
          .col-2
          .col-2
            .menu-button
              %a{href: root_path} Home
          .col-2
            .menu-button
              %a{href: portfolio_index_path} Portfolio
          .col-2
            .menu-button
              %a{href: projects_index_path} Projects
          .col-2
            .menu-button
              %a{href: contact_index_path} Contact
          .col-2
