.project-header
  %h2 Projects
  %p Below is a list of some of the personal projects I've been working on. I develop these on my own time, but use the technologies I've learned through my degree and past work experience. I will also include Github links for each project in case you're interested in the source code.

.project
  .row
    .col-xl-4.left.col-lg-12
      -#.test
      .preview
        %a{href: projects_chess_path}
          %img.project-preview{src: "/images/chess-preview.JPG"}
      -#= link_to "Chess", projects_chess_path
    .col-md-8.right
      %a.title{href: projects_chess_path} React Chess
      %p.description This is an app I wrote to further my knowledge of React JS. It is currently a work in progress. Currently you can only do two person local play, but soon I plan to add functionality for two person online play and an one person v. AI mode. More information about the app can be found in the applications README on Github.
      %p.github
        %strong Github:
        %a{href: 'https://github.com/Adam-Petersen/adamp-react-chess', target: '_blank'} https://github.com/Adam-Petersen/adamp-react-chess
