.project-header
  %h2 Projects
  %p Below is a list of some of the personal projects I've been working on. I develop these on my own time, but use the technologies I've learned through my degree and past work experience. I will also include Github links for each project in case you're interested in the source code.

.project
  .row
    .col-xl-3
      .preview
        %a{href: projects_chess_path}
          %img.project-preview{src: "/images/chess-preview.JPG"}
    .col-xl-9
      %a.title{href: projects_chess_path} React Chess
      %p.description This is an app I wrote to further my knowledge of React JS. It is currently a work in progress. Currently you can only do two person local play, but soon I plan to add functionality for two person online play and an one person v. AI mode. More information about the app can be found in the applications README on Github.
      %p.github
        %strong Github:
        %a{href: 'https://github.com/Adam-Petersen/adamp-react-chess', target: '_blank'} https://github.com/Adam-Petersen/adamp-react-chess

.project
  .row
    .col-xl-3
      .preview
        %a{href: root_path}
          %img.project-preview.wide{src: '/images/home_preview_dark.JPG'}
    .col-xl-9
      %a.title{href: root_path} Personal Website
      %p.description This website is built with the Ruby on Rails web framework. It may seem overkill to use such a complex framework for what is a relatively simple site, but There are several reasons I decided to use Rails. For one, I'm already experienced with Rails from my past internship, so I didn't have to go through the time it takes to familiarize oneself with it. Secondly, I want complete control over any and all content on this site, now and in the future. Eventually, I may want to add some complex features that would be difficult to implement with something like a static HTML site. I'm already hosting a React app, which is simple to do with the react-rails gem. It's also nice to be able to use preprocessors like HAML and SCSS when I design pages, which is something that works well with rails. Finally, the ability to seemlessely integrate a database into a website is something that's appealing to me, although I don't have much use for it at the moment.<br/></br>This Rails app is being hosted on an AWS EC2 instance, with requests being served by the Apache2 Web Server. The Apache setup is realitively simple thaks to Rails' own internal routing system. The app also interfaces with a MySQL database running on the same server.
      %p.github
        %strong Github
        %a{href: 'https://github.com/Adam-Petersen/portfolio', target: '_blank'} https://github.com/Adam-Petersen/portfolio
