=render "modal"

.portfolio-header
  %h2 Portfolio
  %p This page is dedicated to highlighting my skills, experiences, and qualifications. I will try to cover everything on my resume and go more in depth to my personal and professional experiences in software development.

.outer-section
  .title Health Risk Assessment
  .row
    .col-xl-3
      .preview
        %a#open{href: '#'}
          %img{src: "/images/ribbon.png"}
    .col-xl-9
      .description Medicom Health, the company I interned for in 2018, specializes in creating online, customizable health risk assessments called "Profilers". A health risk assessment is an interactive set of medical questions that, when completed, results in the user being shown information regarding how at-risk they are for various medical issues. Medicom's profilers are generally sold to hospital marketing teams. Because they are customizable, the client can add their own logos, colors, questions, and more to the app.<br/><br/> As a software engineer intern, I was tasked with creating a colorectal cancer risk assessment. The front end of the app is written in React.js, the backend is written in Java, and info for customization is stored in a PostgreSQL database. Backend tasks included performing risk calculations and dynamic pdf generation. <strong>In a little over a month, I transformed a set of designs into a fully shippable product.</strong> To the left is a real life example of a colorectal risk profiler being used by <a href="https://www.advocatehealth.com/assessments/" target="_blank">Advocate Health Care</a>. Another example can be found on <a href="https://www.baptisthealth.com/floyd/pages/services/cancer-care/screenings.aspx" target="_blank">Baptist Health's website</a>.

.outer-section
  .title Professional Experience
  .job#uni
    .job-title University of Minnesota
    .job-description
      %a{href: 'https://twin-cities.umn.edu/', target: '_blank'}
        %img{src: '/images/umn.jpg'}
      .description-text I am currently an undergraduate teaching assistant for the course "Introduction to C/C++ Programming for Scientists and Engineers", taught by Professor Phillip Barry. As a TA, my primary responsibility is to assist the professor with ensuring that the course flows seamlessly by leading lab sections, grading assignments, and hosting office hours.<br/><br/> |

      Lab sections are three hours long, and I lead two each week. They consist of a set of low stake problems written by the professor, designed as a hands-on experience of material learned in lecture. It's my responsibility to ensure students are working throughout the lab and to answer any questions a student may have about the lab. Similarly, during my office hours I am responsible for answering any questions a student may have about the homework or material in general. Leading lab sections and hosting office hours has given me unique experiences in leadership that I wouldn't get in most roles. |

  .job
    .job-title Medicom Health
    .job-description
      %a{href: 'https://medicomhealth.com/', target: '_blank'}
        %img{src: '/images/medicom.jpg'}
      .description-text As an intern at Medicom Health, my primary task over the summer was to create a new Health Risk Assessment app, also known as a profiler. In under a month I successfully transformed a set of designs into a fully shippable product, which is currently in use by hospitals around the country. In doing so I strengthened my skills in React, Java, PostgreSQL, and Spring.</br></br> |

      I also made significant contributions to the Evalia Client Portal, which is a Ruby on Rails app that allows hospital team members to customize their profiler, analyze traffic to their profilers, and more. My largest contribution to the Evalia Client Portal was creating an online interface for clients to add their own custom questions to be asked throughout the profiler along with the standard ones. This involved heavy work with Ruby on Rails and jQuery.<br/><br/> |

      I spent the majority of my time at Medicom acting as a team member of the full time development staff. I was fully involved in Medicom's agile work flow, which involved attending sprint planning meetings, stand-ups, and sprint retros. Due to my time spent as an agile based developer, I have become well versed in both GitHub for source control, and Jira for task tracking.<br/><br/> |

      This internship taught me about several aspects of web development, including HTML, CSS, JavaScript (both jQuery and React), and Ruby on Rails. I also experienced being a member of an agile development team and all the responsibilities that includes.<br/><br/> |
  .job
    .job-title Innovative Computer Professionals, Inc.
    .job-description
      %a{href: 'http://icp-inc.com/', target: '_blank'}
        %img{src: '/images/icp.png'}
      .description-text As an intern at Innovative Computer Professionals, my primary task was to work with another intern to develop an Interactive Voice Response System, or IVR. An IVR is a system with which humans can interact using voice or DTMF (keypad input). I was tasked with designing and implementing an IVR which could be used for members of a credit card program. When users call in, they should be able to authenticate themselves and perform actions such as checking a card's balance and hearing recent transaction history.<br/><br/> |

      The majority of the application design was done with Microsoft Visio, which we used to create flow charts that modeled the flow of an incoming phone call, also known as a dial plan. The programming of the dial plan was done using Asterisk, an open source framework for building communications applications. We also used several python scripts to make REST API calls to the service that stored the user information required by the IVR. Because these API calls didn't exist when we started, I took it upon myself to create them. The API service is written using C# and the ASP.NET framework, which interacts with a SQL Server database. Finally, I made a heavy contribution to testing by writing extensive test cases for all the code I wrote.<br/><br/> |

      Through this internship I learned the basic processes of software development, how to familiarize myself with a framework I had little knowledge of, and how to design, build, and test a piece of software from the ground up. |
  .job
    .job-title OnSite Engineering & Forensic Services, Inc.
    .job-description
      %a{href: 'http://onsite-engineering.com/', target: '_blank'}
        %img{src: '/images/onsite.png'}
      .description-text OnSite Engineering is an electrical engineering firm that specializes in forensic engineering. Per their website, "OnSite Engineering provides recommendations, field and in-house testing, reports and expert testimony of the highest technical standard". My role at OnSite started out as an assistant to the warehouse manager, but evolved into independently managing the warehouse and assisting the engineering staff both at the office and at several high loss fire sites.<br/><br/> |

      My time spent in the warehouse consisted of handling evidence collected at loss sites by safely bagging them, logging them into the warehouse database, and storing them in an accessible bin. I started out as an assistant to an existing employee, but by the end of my first summer I was fully in charge of organizing and maintaining the warehouse, as well as performing the yearly evidence inventory.<br/><br/> |

      When I wasn't spending time in the warehouse, I was assisting the engineers with whatever they required of me. Some of my duties included preparing the laboratories for an upcoming examination, taking x-ray images of important evidence, and taking photos throughout the course of a lab examination. Occasionally I would also travel to loss sites with an engineer to assist them on site. This usually consisted of sifting through debris in search of suspicious electrical components, taking pictures, and general physical labor.<br/><br/> |

      This job taught me all the things that come with a first job, as well as how to work efficiently and independently. |

.outer-section
  .title Letter of Recommendation
  %embed{src: "/files/letter.pdf", type: "application/pdf", width: "100%", height: "900px"}
