.contact-header
  .title Contact
  %p You can reach me at any of the following:
  %ul
    %li Phone: 952-381-5837
    %li Email: <a href="mailto:pet00545@umn.edu" target="_blank">pet00545@umn.edu</a>
    %li LinkedIn: <a href="https://www.linkedin.com/in/adampetersenumn/" target="_blank">https://www.linkedin.com/in/adampetersenumn/</a>
