@import "variables";


$tile-size: 75px;
$board-size: $tile-size * 8;
$mode-select-height: 0.8;
$light-tile-color: #b69b4c;
$dark-tile-color: #825201;
$outline-color: #38fc11;
$light-player-color: rgba(182, 155, 76, 0.3);
$dark-player-color: rgba(130, 82, 1, 0.6);
$player-outline-color: rgba(0, 0, 0, 0.75);


.chess-title {
  width: 100%;
  text-align: center;
  position: relative;

  .title {
    text-decoration: underline;
    font-family: $title-font-family;
    color: $font-color;
    font-size: 2.0rem;
  }

  .back {
    position: absolute;
    left: 0;
    top: 50%; transform: translateY(-50%);
    padding-left: 50px;
    font-family: $title-font-family;
    color: $font-color;
    font-size: 1.4rem;
  }
}

.board {
  margin: 15px auto;

  &.transparent {
    height: $board-size;
    width: $board-size;
    background-image: url("/images/chess-preview.JPG");
    background-size: $board-size $board-size;
    background-color: rgba(230, 230, 230, 0.6);
    background-blend-mode: lighten;
    padding-top: $board-size * (1-$mode-select-height) / 2.0;
  }
}

.game {
  margin: 0px auto;
}

.tile {
  position: relative;
  height: $tile-size;
  width: $tile-size; }
  .dark {
    background-color: $dark-tile-color; }
  .light {
    background-color: $light-tile-color; }
  .highlighted {
    outline: 5px solid $outline-color;
    outline-offset: -5px;
  }
  .target {
    outline: 5px solid blue;
    outline-offset: -5px;
  }

table, th, td {
  table-layout: fixed;
  margin: 0px;
  padding: 0px;
  border-spacing: 0;
  height: $tile-size;
  width: $tile-size;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  width: $tile-size;
  height: $tile-size;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0
}

.checkmate {
  opacity: 0.5;
}

.checkmate-text {
  position: absolute;
  margin-top: ($board-size / 2) - 50px;
  width: $board-size;
  font-size: 40px;
  color: #000;
  font-weight: 800;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.mode-select {
  height: $board-size * $mode-select-height;
  width: $board-size * .55;
  margin: 0 auto;
  background-color: rgba(50, 50, 50, 0.85);
  padding-top: 50px;

  .mode-header {
    text-align: center;
    color: #ffffff;
    font-size: 34px;
    font-weight: 600;
  }
}

.mode-button {
  display: block;
  height: 50px;
  width: 200px;
  margin: 50px auto;
}

.player-name {
  display: block;
  width: 15%;
  margin: 0 auto;
  text-align: center;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  font-family: arial, auto;

  &.light {
    background-color: $light-player-color;
  }
  &.dark {
    background-color: $dark-player-color;
  }
  &.up-next {
    outline: 5px solid $player-outline-color;
    outline-offset: -5px;
  }
}
