@import "variables";
$menu-bar-height: 75px;

.menu-bar {
  background-color: $light-color;
  //height: 100%;
  //width: 100%;
  margin-bottom: 20px;

  .menu-button {
    display: block;
    width: 100%;
    height: $menu-bar-height;
    text-align: center;
    font-size: 18px;

    &:hover {
      background-color: $hover-color;
    }

    a {
      line-height: $menu-bar-height;
      text-decoration: none;
      color: $font-color;
      font-family: Oswald, "Trebuchet MS", Arial, sans-serif;
      font-weight: 650;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    &.name {
      margin-left: 10px;
      padding: 0 10px;
      font-size: 26px;
      text-align: left;
      width: 200px;
    }
  }

  .last {
    padding: 0;
  }
}
