@import "variables";
$hover-color: #d8e7ff;
$menu-bar-height: 75px;

.menu-bar {
  background-color: $light-color;
  //height: 100%;
  //width: 100%;
  margin-bottom: 20px;

  a, a:hover {
    display:inline-block;
    width: 100%;
    height: 100%;
    line-height: $menu-bar-height;
    text-decoration: none;
    color: $font-color;
    font-family: Oswald, "Trebuchet MS", Arial, sans-serif;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  .name {
    padding-left: 30px;
    font-size: 26px;
  }

  .menu-button {
    height: $menu-bar-height;

    a {
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
    }

    &:hover {
      background-color: $hover-color;
    }
  }
}
