// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "chess";
$chess-image-size: 250px;

.project-header {
  width: $box-width;
  background-color: $light-color;
  margin: 30px auto;

  h2 {
    padding: 20px 0px;
    text-decoration: underline;
    text-align: center;
    font-family: Oswald, "Trebuchet MS", Arial, sans-serif;
  }

  p {
    text-align: center;
    padding: 0px 40px 20px 40px;
    font-size: 16px;
  }
}

.project {
  height: auto;
  width: $box-width;
  background-color: $light-color;
  margin: 30px auto;
  padding: 15px 30px;

  .row {
    height: auto;
    div[class^="col-"] {

      .preview {
        height: $chess-image-size;
        width: $chess-image-size;
        margin: 40px auto;

        img {
          height: 100%;
          width: 100%;
          position: static;

          &:hover {
            opacity: 0.4;
          }
        }
      }


      &.right {
        text-align: center;

        .title {
          margin: 8px 0px 15px 0px;
          text-decoration: underline;
          font-family: $title-font-family;
          color: $font-color;
          font-size: 1.75rem;
        }

        .description {
          margin: 15px 0px;
        }
        .github {
          margin-top: 50px;
        }
      }
    }
  }

}
